<tr>
	<td>
		<%= form_for([tournament, team_stat])  do |f| %>
			<%= f.select :position, (1..tournament.total_teams) %>
		<%= f.submit "Update" %>
		<% end %>
	</td>

	<td>
		<strong>#<%= team_stat.name %></strong><br/>
		<%= team_stat.summoners.inject(0) {|sum, n| sum + n.elo if n.elo} %>
		<%= link_to "Edit", tournament_team_tournament_participations_path(team_stat.tournament_id, team_stat.id) %>
	</td>
	<% team_stat.summoners.each do |summoner| %>
		<td>
			<%= summoner.summonerName %><br/>
			<i><%= summoner.elo %></i>
		</td>
	<% end %>
</tr>
			
