<% provide(:title, "Teams") %>
<section id="teams_index">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <div class="col-md-8 col-md-offset-2">
      <div class="well semi_transparent">
        <h1 class="bold-title"><u>Teams</u></h1>
        <% if @tournament.teams && @tournament.teams_approved == true %>
          <% cache("#{@tournament.cache_key}/show/teams") do %>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Pos</th>
                    <th>Team</th>
                    <th>Summoners</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render :partial => 'team', :collection => @tournament.teams.order_ranked %>
                </tbody>
              </table>
            </div>
          <% end %>
        <% else %>
          <h3 class="text-center bold-title">Teams have not been built yet</h3>
        <% end %>
      </div>

      <% if logged_in? && current_user.admin? %>
        <div class="well semi_transparent">
          <h1 class="bold-title"><u>Admin Panel</u></h1>

          <div class="row">
            <div class="col-md-3 text-center">
              <%= form_for @tournament, url: update_summoners_elo_tournament_path(@tournament) do |f| %>
                <div class="actions">
                  <%= f.submit "Update All Elos", class: "btn btn-success" %>
                </div>
              <% end %>
            </div>

            <div class="col-md-3 text-center">
              <%= form_for @tournament, url: create_tournament_teams_tournament_path(@tournament) do |f| %>
                <div class="actions">
                  <%= f.submit "Build Teams", class: "btn btn-success" %>
                </div>
              <% end %>  
            </div>

            <div class="col-md-3 text-center">
              <%= form_for @tournament, url: approve_tournament_teams_tournament_path(@tournament) do |f| %>
                <div class="actions">
                  <%= f.submit "Approve Teams", class: "btn btn-success", data: { confirm: "Are you sure? This cannot be undone" }  %>
                </div>
              <% end %>  
            </div>
          </div>


            <% if @team_stats %>
            <h3>Tournament Stats | Approved(<%= @tournament.teams_approved %>)</h3>
              AVG: <%= @team_stats[:team_avg] %> |
              STD: <%= @team_stats[:team_std] %> |
              MAX: <%= @team_stats[:team_max] %> |
              MIN: <%= @team_stats[:team_min] %>
              <h3>Team Stats</h3>
              <% cache("#{@tournament.cache_key}/show/team_stats") do %>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Pos</th>
                        <th>Team</th>
                        <th>Summoners</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= render :partial => 'team_stat', :collection => @tournament.teams.order_ranked, locals: { tournament: @tournament } %>
                    </tbody>
                  </table>
                </div>
              <% end %>
              <h3>Unassigned:</h3>
                <% @tournament.unassigned_participations.each do |participation| %>
                  <%= participation.summoner.summonerName %>, <%= participation.summoner.elo  %> |
                    
                  <%= form_for([@tournament, @tournament.teams.first, participation]) do |f| %>
                    <%= f.select :team_id, (1..@tournament.total_teams) %>
                    <%= f.submit "Update" %>
                  <% end %>

                <% end %>

              <h3>Ringers:</h3>
              <% @tournament.ringers.each do |ringer| %>
                <%= ringer.summonerName %>, <%= ringer.elo %> |
              <% end %>

              <h3>Absent Sumoners:</h3>
                <% @tournament.teams.each do |x| %>
                  <% unless x.absent_summoners.empty? %>
                    <% x.absent_summoners.each do |y| %>
                      <%= y.summonerName %>, <%= y.elo %> |
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>

            <h3>Tickets</h3>
            <% cache("#{@tournament.cache_key}/show/tickets") do %>
              <%= render :partial => 'ticket', :collection => @tournament.tickets %>
            <% end %>
        </div>
      <% end %>
      
    </div>
  </div>
</section>