<% provide(:title, "Home") %>
<section id="home">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<div class="well leaderbox">
				<h1>Live Solo/Duo Queue Tournaments</h1>
				<h4>Teambalancing + Computers Provided</h4>

			</div>
			<div class="well leaderbox">
				<h2>Upcoming Tournament</h2>
				<h4>First timers welcome!</h4>
				<div class="row">
					<div class="col-md-6">
						<p><%= @tournament.name %></p>
						<p><%= @tournament.location %></p>
						<p><%= @tournament.start_date %></p>
					</div>
					<div class="col-md-6">
						<h3>Registered: <%= @tournament.tickets.count %>/<%= @tournament.total_players %></h3>
					</div>
				</div>

				<div class="tourney_register">
					<%= link_to "Join!", tournament_path(@tournament), :class => "btn btn-lg btn-success" %>
				</div>
			</div>
		</div>
	</div>
</section>