<% provide(:title, "Home") %>
<section class="wallpaper-1">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<div class="well semi_transparent bold-title text-center">
				<h1>Live Solo/Duo Queue Tournaments</h1>
				<h5>Teambalancing + Computers Provided</h5>
				<h4>First timers welcome! Bronze to Challenger</h4>
			</div>
			<div class="well">
				<h2 class="bold-title text-center">Coming Up</h2>
				<div class="row">
					<div class="col-md-6">
						<p><%= @tournament.name %></p>
						<p><%= tournament_duration(@tournament.start_date) %></p>
						<p><a href="<%= @tournament.facebook_url %>">Check out the facebook event</a></p>
					</div>
					<div class="col-md-6">
						<p><%= @tournament.location_name %>, <%= @tournament.location_address %></p>
						<p></p>
						<p><a href="<%= @tournament.location_url %>"><%= @tournament.location_url %></a></p>
						<p>Registered: <%= @tournament.player_count %>/<%= @tournament.total_players %></p>
					</div>
				</div>

				<div class="text-center">
					<%= link_to "Join Tournament", tournament_path(@tournament), :class => "btn btn-lg btn-primary", :type => "button" %>
				</div>
			</div>
		</div>
	</div>
</section>