<% provide(:title, "Tournaments") %>
<section id="tournaments_index">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <div class="col-md-8 col-md-offset-2">
      <div class="well semi_transparent">
        
        <h1 class="bold-title">Upcoming Tournaments</h1>      
        <div class="table-responsive">
          <table class="table">
            <thead class="row">
              <th class="col-md-2">Date</th>
              <th class="col-md-4 text-left">Name</th>
              <th class="col-md-3 text-center">Registered</th>
              <th class="col-md-1 text-right"></th>
            </thead>

            <tbody class="row">
              <% @upcoming.each do |tournament| %>
              <tr>
                <td class="col-md-2"><%= tournament_start(tournament.start_date) %> </td>
                <td class="col-md-4 text-left"><%= tournament.name %> </td>
                <td class="col-md-3 text-center"><%= tournament.player_count %>/<%= tournament.total_players %></td>
                <td class="col-md-1 text-right"><%= tournaments_link(tournament) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <h1 class="bold-title">Past Tournaments</h1>
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3">Date</th>
              <th class="col-md-4 text-left">Name</th>
              <th class="col-md-3 text-center">Registered</th>
              <th class="col-md-1 text-right"> </th>
            </tr>
          </thead>

          <tbody>
            <% @past.each do |tournament| %>
            <% if tournament %>
              <tr>
                <td> <%= tournament_start(tournament.start_date) %> </td>
                <td class="text-left"> <%= tournament.name %> </td>
                <td class="text-center"> <%= tickets_sold(tournament) %> </td>
                <td class="text-right"></td>
              </tr>
            <% end %>
            <% end %>

            <% @legacy_tours.each do |tournament| %>
              <tr>
                <td> <%= tournament_start(tournament.start_date) %> </td>
                <td class="text-left"><a href="<%= tournament.facebook_url %>"> <%= tournament.name %></a></td>
                <td class="text-center"> 40/40 </td>
                <td class="text-right"> </td>
              </tr>
            <% end %>
          </tbody>
      </table>

      </div>
    </div>

  </div>
</section>
