<% provide(:title, "Tournaments") %>
<section id="tournaments_index">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <div class="col-md-8 col-md-offset-2">
      <div class="well semi_transparent">
        <h1>Upcoming Tournaments</h1>
        <table>
          <thead>
            <tr>
              <th class="col-md-3">Date</th>
              <th class="col-md-4 text-left">Name</th>
              <th class="col-md-3 text-center">Registered</th>
              <th class="col-md-1 text-right"></th>
            </tr>
          </thead>

          <tbody>
            <% @upcoming.each do |tournament| %>
              <tr>
                <td> <%= tournament_start(tournament.start_date) %> </td>
                <td class="text-left"> <%= tournament.name %> </td>
                <td class="text-center"> <%= tickets_sold(tournament) %> </td>
                <td class="text-right"><%= tournaments_link(tournament) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <h1>Past Tournaments</h1>
          <table>
          <thead>
            <tr>
              <th class="col-md-3">Date</th>
              <th class="col-md-4 text-left">Name</th>
              <th class="col-md-3 text-center">Registered</th>
              <th class="col-md-1 text-right"> </th>
            </tr>
          </thead>

          <tbody>
            <% @past.each do |tournament| %>
              <tr>
                <td> <%= tournament_start(tournament.start_date) %> </td>
                <td class="text-left"> <%= tournament.name %> </td>
                <td class="text-center"> <%= tickets_sold(tournament) %> </td>
                <td class="text-right"></td>
              </tr>
            <% end %>

            <% @legacy_tours.each do |tournament| %>
              <tr>
                <td> <%= tournament_start(tournament.start_date) %> </td>
                <td class="text-left"><a href="<%= tournament.facebook_url %>"> <%= tournament.name %></a></td>
                <td class="text-center"> 40/40 </td>
                <td class="text-right"> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>
