<% provide(:title, "#{@tournament.name}") %>

<p id="notice"><%= notice %></p>


<p> <%= @tournament.name %></p>
<p>Registered: <%= @tournament.tickets.count %>/<%= @tournament.total_players %></p>
<p> <%= @tournament.location %></p>

<div id="register">
	<%= render 'tickets/register' %>
</div>