<% provide(:title, "#{@tournament.name}") %>
<section id="tournament_show">
	<div class="container">
		<p id="notice"><%= notice %></p>

		<div class="col-md-8 col-md-offset-2">
			<div class="well semi_transparent">

		<% cache @tournament do %>
				<h2><%= @tournament.name %></h2>
					<h4>Registered: <%= @tournament.player_count %>/<%= @tournament.total_players %></h4>
				<div class="row">
					<div class="col-md-6">
						<p><%= tournament_duration(@tournament.start_date) %></p>
						<p><a href="<%= @tournament.facebook_url %>">Check out the facebook event</a></p>
						<p>Tickets: <%= number_to_currency(@tournament.price)%>/player</p>
					</div>
					<div class="col-md-6">
						<p><%= @tournament.location_name %>, <%= @tournament.location_address %></p>
						<p></p>
						<p><a href="<%= @tournament.location_url %>"><%= @tournament.location_url %></a></p>
					</div>
				</div>
		<% end %>

			</div>
			<div id="register" class="well">
				<%= render 'tickets/register' %>
			</div>
			<div class="text-center" style="margin-bottom:25px;">
				<%= link_to 'View Teams', tournament_teams_path(@tournament), :class => "btn btn-primary" %>
			</div>
		</div>

	</div>
</section>