<div id="active_ticket" class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4 id="summonerName">Summoner: <%= ticket.summoner.summonerName %></h4>
		<% if ticket.duo %>
			<h4 id="duoName">Duo: <%= ticket.duo.summonerName %></h4>
		<% end %>

			<div class="tourney_register">
			<%= form_tag "https://www.paypal.com/cgi-bin/webscr", :html => {:id => "paypal_ticket"} do %>
				<%= hidden_field_tag :cmd, "_s-xclick" %>
				<%= hidden_field_tag :encrypted, Builder::PaypalApi.paypal_encrypted(ticket, root_url, root_url) %>
				<%= submit_tag "Checkout", :class => "btn btn-lg btn-success" %>
			<% end %>

			<%= link_to "reset", tournament_path(ticket.tournament), :class => "btn btn-sm btn-warning" %>
		</div>
	</div>
</div>			