<%= render 'shared/error_messages', object: f.object %>
<%= f.hidden_field :tournament_id, :value => @ticket.tournament_id %>
<%= f.hidden_field :duo_selected, :value => @ticket.duo_selected %>
<h4>Summoner (required)</h4>
<div class="form-group">
	<%= f.text_field :summonerName, :placeholder => "Summoner Name" %>
	<% if @ticket.duo_selected == "true" %>
		<%= f.text_field :duoName, :placeholder => "Duo Name" %>
	<% end %>
</div>

<h4>Contact Info (optional)</h4>
<div class="form-group">
	<%= f.text_field :contact_email, :placeholder => "Email" %>
</div>
<div class="form-group">
	<%= f.text_field :contact_first_name, :placeholder => "First Name" %>
</div>
<div class="form-group">
	<%= f.text_field :contact_last_name, :placeholder => "Last Name" %>
</div>