<h1>Register</h1>
<% if @ticket.id %>
	<%= render 'tickets/form_part3', ticket: @ticket %>
<% elsif @ticket.duo_selected %>
	<div id="ticket_form">
		<%= form_for(@ticket, remote: true, html: {class: "text-center"}) do |f|  %>
		<%= render 'tickets/form_part2', f: f %>
			<%= f.submit "Add Summoner & Contact Info", :class => "btn btn-success"  %>
		<% end %>
		<%= link_to "reset", ticket_reset_path, :class => "btn btn-sm btn-warning" %>
	</div>
<% else %>
		<%= render 'tickets/form_part1', ticket: @ticket %>
<% end %>