<% provide(:title, "#{@series.name}") %>

<section id="tournament_show">
	<div class="container">
		<p id="notice"><%= notice %></p>


		<div class="col-md-8 col-md-offset-2">
			<div class="well semi_transparent">
				<h2><%= @series.name %></h2>
				<h4>This series has <%= @series.tournaments.count %> tournaments</h4>
			</div>
		</div>		

		<div class="col-md-8 col-md-offset-2">
			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">Home</a></li>
			  <li role="presentation"><a href="#">Profile</a></li>
			  <li role="presentation"><a href="#">Messages</a></li>
			</ul>
			<div id="prizing" class="well semi_transparent">
				<h2>Prizing</h2>
				<h2 id="a1" class="">1</h2>
				<h2 id="a2" class="hide">2</h2>
				<h2 id="a3" class="hide">3</h2>
				<%= render 'prizing' %>
			</div>
	
			<div id="tournaments" class="well semi_transparent">
				<h2>Tournaments</h2>
					<% @series.tournaments.order(start_date: :asc).each do |tournament| %>
						<%= render 'tournaments/tournament', tournament: tournament %>
					<% end %>
				</div>		

			<div id="standings" class="well semi_transparent">
				<h2>Standings</h2>
		    <table class="table table-hover">
		      <thead>
		        <tr>
		        	<th>Position</th>
		          <th>Summoner</th>
		          <% @series.tournaments.count.times do |x| %>
		          	<th>Tournament #<%= x %></th>
		          <% end %>
		        </tr>
		      </thead>
		      <tbody>
		        <%= render :partial => 'series_participations/series_participations', :collection => @series_participations, locals:{total_tournaments: @series.tournaments.count} %>
		      </tbody>
		    </table>
			</div>


		</div>

	</div>
</section>